.items-div {
  background-color: rebeccapurple;
  font-family: monospace;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.countdiv {
  border-radius: 200px;
  border: 1vh;
  background-color: rgb(179, 184, 184);
  width: 90px;
  margin: auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-self: center;
}